# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\batel\OneDrive - post.bgu.ac.il\לימודים\קורסים פעילים\עקרונות תכנות מונחה עצמים\מטלות\מטלה 1\OOP1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
